@inherits UmbracoViewPage<Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";


    var coordinates = Model.MapCoordinates.ToString().Split(',');

    var latitude = coordinates[0];
    var longitude = coordinates[1];
    var zoomLevel = coordinates[2];

    // Build the coordinates string
    var coordinatesString = longitude + "," + latitude + "," + longitude + "," + latitude;
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")
<section class="section">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <h2>@Model.MapHeader</h2>
                <iframe width="550"
                        height="400"
                        frameborder="0"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=@coordinatesString&amp;layer=mapnik&amp;marker=@Model.MapCoordinates"
                        style="border: 1px solid black">
                </iframe>

                <br />

                <small>
                    <a href="https://www.openstreetmap.org/?mlat=@latitude&amp;mlon=@longitude#map=@zoomLevel/@latitude/@longitude&amp;layers=N">View Larger Map</a>
                </small>
            </div>

            <div class="col-md-6">
                <h2>@Model.ContactFormHeader</h2>
                @Model.ContactIntro
                @Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = Model.ContactForm.ToString(), ExcludeScripts="0" })
            </div>

        </div>
    </div>
</section>